<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi Aplicación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sobre Mi</h1>
        <nav>
            <ul>
                <li><a href="https://github.com/mascamoreno/PRACTICA_M09/tree/nuevarama">Portafolio</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
        
        </section>
    </main>

    <footer>
        <p>Derechos de autor &copy; 2024 - Mi Aplicación</p>
    </footer>
</body>
</html>
