<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Portfoli</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Portfoli</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="https://github.com/mascamoreno/les-webapps-fetes-a-classe">les webapps fetes a classe</a></li>
                <li><a href="https://github.com/mascamoreno/les-webapps-fetes-a-classe/tree/master/EJERCICIOS%20FLASK">Ejercicios Flask</a></li>
                <li><a href="https://github.com/mascamoreno/les-webapps-fetes-a-classe/tree/master/NOMMAIL_DB">Nommail_DB</a></li>
                <li><a href="https://github.com/mascamoreno/les-webapps-fetes-a-classe/tree/master/Practica%20-%20nom-mail%20a%20BD">Practica - nom-mail a BD</a></li>
                <li><a href="https://github.com/mascamoreno/les-webapps-fetes-a-classe/tree/master/nombre-mail">nombre-mail</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
        
        </section>
    </main>

    <footer>
        <p>© 2024 Viajes Ibáñez. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
