<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi Aplicación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Aplicación</h1>
        <nav>
            <ul>
                <!-- Enlaces de navegación -->
                <li><a href="/registro">Registrarse</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/public-section">Sección Pública</a></li>
                <li><a href="{{ url_for('about') }}">Acerca de Mí</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Contenido Destacado</h2>
            <!-- Contenido destacado sobre viajes -->
            <div class="destacado-viajes">
                <h3>Descubre los destinos más increíbles del mundo</h3>
                <p>Explora lugares exóticos, culturas fascinantes y paisajes impresionantes en nuestros artículos sobre viajes.</p>
                <ul>
                    <li><strong><a href="https://www.viajeselcorteingles.es/disneyland">Disneyland, París:</a></strong> Revive la magia de volver a ser niño.</li>
                    <li><strong><a href="https://www.bing.com/search?q=ca%c3%b1%c3%b3n+de+basalto+de+Stu%c3%b0lagil&setlang=es-es&mkt=es-es&FORM=M403J8">Cañón de Basalto de Stuðlagil, Islandia:</a></strong> Enamórate de las aguas turquesas del cañón de basalto.</li>
                    <li><strong><a href="https://www.google.es/search?q=la+Gran+Barrera+de+Coral+en+Australia">Gran Barrera de Coral, Australia:</a></strong> Vive una aventura única explorando la Gran Barrera de Coral.</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>Derechos de autor &copy; 2024 - Mi Aplicación</p>
    </footer>
</body>
</html>
