<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form method="post" action="/registro">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="contraseña">Contraseña:</label><br>
        <input type="password" id="contraseña" name="contraseña" required><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
